*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  .cal_main{
  background-color: rgb(26, 26, 26);
    width: 24%;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0px 0px 15px rgb(55, 56, 56);
    color: rgb(7, 227, 51);
}
.output_1, .output_2{
display: flex;
justify-content: end;
padding:20px 20px 0px 0px;
font-size: 25px;
color: rgb(8, 155, 191);
overflow: hidden;
}

.main_button{
  display: flex;
  gap: 1px;
  max-height: 30rem;
}
.button_1{
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  gap: 3px;
  padding-top: 5px;
  padding-left:8px;
}

.button_2{
  display: grid;
  grid-template-columns: repeat(1, 5rem);
  gap: 3px;
  padding-top: 5px;
  padding-left:8px;
  border-radius: 80px 28px 15px 80px;
  height:27rem;
}

.button_2>button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

button{
  max-height: 42px;
  max-width: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
  color: rgb(8, 155, 191);
  background-color: rgb(37, 37, 37);
  margin-top: 15px;
  border: none;
  font-size: 20px;
  
}
.screen{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 9rem;
  border-radius: 15px 15px 0px 0px ;
  box-shadow: 0px 0px 1px rgb(92, 206, 235);
}

.button_1{
  max-width: 14.7rem;

}

.button_2{
  background-color: black;
  box-shadow: 0px 0px 8px rgb(96, 131, 142);
}

button:hover{
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
}
button:active {
  transform: translateY(4px);
}

@media only screen and (max-width: 780px) {
  .cal_main {
    width: 21rem;
  }
}